<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<mirrors>
		<mirror>
			<id>central</id>
			<mirrorOf>*</mirrorOf>
			<name>iOTA-Maven Repositories</name>
			<url>http://build.chuanyang100.com:8180/repository/internal/</url>
		</mirror>
	</mirrors>
	<servers>
		<server>
			<id>iota</id>
			<username>admin</username>
			<password>vj@3e9D3y8</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<id>iota</id>
			<repositories>
				<repository>
					<id>internal</id>
					<url>http://build.chuanyang100.com:8180/repository/internal/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
				<repository>
					<id>snapshots</id>
					<url>http://build.chuanyang100.com:8180/repository/snapshots/</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>

			<pluginRepositories>
				<pluginRepository>
					<id>archiva</id>
					<url>http://build.chuanyang100.com:8180/repository/internal/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<localRepository>${env.MAVEN_REP_HOME}/.m2/repository</localRepository>
	<interactiveMode>true</interactiveMode>
	<usePluginRegistry>false</usePluginRegistry>
</settings>